<div class="flex-container">
  <div style="flex-grow: 10">
    <div class="d-flex flex-column">
      <div class="nameLabel row">
        <label class="labelColor">Jack M. is typing</label>
        <img class="loading" src="./../../assets/images/more.svg" alt="logo">
      </div>
      <div class="p-2 chatBox">
        <div class="p-2 chatWindow overflow">
          <label class="text-secondary center">Today</label>
          <div class="col-12 row">
            <div class="container col-6">
              <img src="./../../assets/images/male.png" alt="Avatar">
              <p>Hello. How are you today?</p>
              <span class="time-right">11:00</span>
            </div>
            <div class="col-6"></div>
          </div>
          <div class="col-12 row">
            <div class="col-6"></div>
            <div class="container col-6">
              <img src="./../../assets/images/female.png" alt="Avatar" class="right">
              <p>Hey! I'm fine. Thanks for asking!</p>
              <span class="time-left">11:01</span>
            </div>
          </div>
          <div class="col-12 row">
            <div class="container col-6">
              <img src="./../../assets/images/male.png" alt="Avatar">
              <p>Sweet! So, what do you wanna do today?</p>
              <span class="time-right">11:02</span>
            </div>
            <div class="col-6"></div>
          </div>
          <div class="col-12 row">
            <div class="col-6"></div>
            <div class="container col-6">
              <img src="./../../assets/images/female.png" alt="Avatar" class="right">
              <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
              <span class="time-left">11:05</span>
            </div>
          </div>
        </div>
        <div class="p-2 col-12 colorInput">
          <div class="row">
            <div class="col-11">
              <input type="text" class="form-control mr-5" placeholder="enter text">
            </div>
            <div class="col-1">
              <img class="send cursor" src="./../../assets/images/send.svg" alt="logo">
            </div>
          </div>
        </div>
      </div>
      <div class="navBarChild">
        <nav class="nav nav-pills nav-justified">
          <a class="nav-link childMenu "  [routerLink]="['activity']">Activity</a>
          <a class="nav-link childMenu" [routerLink]="['notes']">Notes</a>
        </nav>
      </div>
      <div class="p-2 activityBox overflow">

        <div class="d-flex flex-column ">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div style="flex-grow: 3">
    <div class="d-flex flex-column">
      <!-- <div class="nameLabel">
          <label class="labelColor">Request Views</label>
        </div> -->
      <div class="p-2">
        <img class="graph mt-4" src="./../../assets/images/graph.png" alt="logo">
      </div>
      <div class="p-2">

      </div>
      <div class="p-2 bg-white col-12">
        <label class="labelColor col-9">Users who choose you</label>
        <img class="loading col-2 mb-3" src="./../../assets/images/dots.svg" alt="logo">
        <label class="mt-1 text-muted">
          <b class="text-primary ml-3 mr-2">12</b>This month</label>
      </div>
      <div class="p-2 bg-white col-12 mt-2">
        <label class="labelColor col-9">Users who hasn't answer</label>
        <img class="loading col-2 mb-3" src="./../../assets/images/dots.svg" alt="logo">
        <label class="mt-1 text-muted">
          <b class="text-danger ml-3 mr-2">06</b>This month</label>
      </div>
    </div>
  </div>

</div>